doctype html
html
	head
		title Bad Optics Collective
		include pug_includes/head_base.html
		include pug_includes/head_social_meta_index.html
	body
		include pug_includes/noscript.html
		include pug_includes/header.html
		include pug_includes/main_nav.html
		#mainContent.text-sans.antialias
			#featuredTile
			.tile-set
				include pug_includes/tiles-template.pug
		include pug_includes/footer.html
		include pug_includes/scripts.html
