/* WHOLE PAGE 
============= */
html, body {
	margin: 0;
	width: 100%;
	height: 100%;

	background-color: #080808;
}

#noscriptMessage {
	font-family: sans-serif;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

#popupScrim {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
	pointer-events: none;
	z-index: 100;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s cubic-bezier(.8,0,.83,.67), visibility 0 linear 0.2s; 
}
#popupScrim.show {
	pointer-events: auto;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s cubic-bezier(.8,0,.83,.67), visibility 0 linear;
}
/* ===========
END WHOLE PAGE */


/* LOGO HEADER 
============== */
#logoHeader {
	position: relative;
	height: 160px;

	margin: 40px 0;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	transition: opacity 0.5s cubic-bezier(.8,0,.83,.67);
}

#logoWrapper, #logoWrapper > a, #logo {
	height: inherit;
}

#logo {
	border: 6px solid #fff;
}

.logo-line {
	height: 0px;
	width: 0px;
	flex-grow: 1;
	border-top:	2px solid #fff;
	border-bottom: 2px solid #fff;
}

.logo-line-spacer {
	height: 0px;

	width: 50%;
	transition: width 0.5s ease-out 0.5s;
}

/* ENTRANCE ANIMATIONS */
body.loaded #logoHeader, noscript #logoHeader { opacity: 1; }
body.loaded .logo-line-spacer, noscript .logo-line-spacer { width: 0; }
body.loaded #mainNav { opacity: 1; }
body.loaded #mainNavUnderline { transform: scaleX(1); }
body.loaded #mainContent { opacity: 1; }
/* ============
END LOGO HEADER */


/* MAIN NAVIGATION
================== */
#mainNav {
	width: 100%;

	margin: auto;
	/*margin-bottom: 40px;*/
	text-align: center;

	font-family: sans-serif;
	color: #fff;
	font-size: 28px;
	font-weight: 200;

	opacity: 0;
	transition: opacity 0.5s cubic-bezier(.8,0,.83,.67) 0.2s;

	z-index: 10;
}

#mainNav > div {
	margin: 0 5px;
}

#mainNavHeader {
	position: relative;
	display: inline-block;
	margin: auto;

	height: 74px;
	padding-top: 20px;

	cursor: default;
}
#mainNavHeader span {
	font-weight: 400;
	font-size: 64px;
}

#mainNavWrapper {
	position: relative;
	display: inline-block;
}

#mainNav .nav-choices {
	display: flex;
	justify-content: center;
}

#mainNav .nav-choices .choice-container {
	display: inline-block;
	padding: 0 10px;
}
#mainNav .nav-choices .choice-container:first-child {
	padding-left: 0;
}
#mainNav .nav-choices .choice-container:last-child {
	padding-right: 0;
}

.choice-container span {
	position: relative;
}

.choice-hover {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	right: 0;
	bottom: -3px;

	background: #fff;

	transform-origin: center;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}
.choice-container:hover .choice-hover {
	transform: scaleX(1) !important;
}
.choice-container.selected .choice-hover {
	transform: scaleX(1);
}
.nav-choices:hover .choice-container.selected .choice-hover {
	transform: scaleX(0);
}

#mainNavUnderline {
	position: absolute;
	height: 2px;
	left: 0px;
	right: 0px;
	bottom: -10px;

	background: #fff;

	transform: scaleX(0);
	transition: left 0.2s ease-in-out, right 0.2s ease-in-out, transform 0.5s ease-in-out 0.5s;
}


/* MAIN CONTENT
=============== */
#mainContent {
	position: relative;
	width: 660px;
	margin: auto;
	margin-bottom: 80px;

	opacity: 0;
	transition: opacity 0.5s cubic-bezier(.8,0,.83,.67);
}
#mainContent.hidden {
	opacity: 0 !important;
}

/* TILES AND TILE SETS
---------------------- */
.tile-set {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.tile {
	width: 160px;
	height: 160px;
	margin: 60px 30px 0;

	background: #333;
	background-size: cover;
	background-position: center center;

	transition: margin-bottom 0.2s ease-in-out;
}
.tile:not(.show) {
	margin-bottom: 0 !important;
}

/* TILE CONTENT
--------------- */
.tile-content-container {
	position: absolute;
	height: auto;
	left: 27px;
	right: 27px;
	overflow: hidden;

	box-sizing: border-box;
	border-left: 3px solid white;
	border-right: 3px solid white;;
	margin: 0;

	visibility: hidden;
	transition: height 0.2s ease-in-out, visibility 0.2s linear 0.2s;
}
.tile:not(.show) .tile-content-container.initialized {
	height: 0 !important;
}
.tile.show .tile-content-container {
	visibility: visible;
	transition: height 0.2s ease-in-out, visibility 0.2s linear;
}

.tile-content {
	padding: 20px;
}

/* TILE BORDERS
--------------- */
.tile-borders {
	position: relative;
	width: 160px;
	height: 160px;
	cursor: pointer;
}
.tile-border-top, .tile-border-right, .tile-border-bottom, .tile-border-left {
	position: absolute;
	background: #fff;
	transition: none;
}
.tile-border-top {
	height: 3px;
	top: -3px;
	left: 0;
	right: -3px;
	transform-origin: left;
	transition-delay: 0s;
	transform: scaleX(0);
}
.tile-border-right {
	width: 3px;
	right: -3px;
	top: 0;
	bottom: -3px;
	transform-origin: top;
	transition-delay: 0.08s;
	transform: scaleY(0);
}
.tile-border-bottom {
	height: 3px;
	bottom: -3px;
	right: 0;
	left: -3px;
	transform-origin: right;
	transition-delay: 0.16s;
	transform: scaleX(0);
}
.tile-border-left {
	width: 3px;
	left: -3px;
	bottom: 0;
	top: -3px;
	transform-origin: bottom;
	transition-delay: 0.24s;
	transform: scaleY(0);
}
.tile-borders:hover .tile-border-top, .tile-borders:hover .tile-border-right,
.tile-borders:hover .tile-border-bottom, .tile-borders:hover .tile-border-left {
	transition-property: transform;
	transition-duration: 0.08s;
	transition-timing-function: linear;
	opacity: 1;
}
.tile-borders:hover .tile-border-top, .tile-borders:hover .tile-border-bottom { transform: scaleX(1); }
.tile-borders:hover .tile-border-right, .tile-borders:hover .tile-border-left { transform: scaleY(1); }
/* =============
END MAIN CONTENT */


/* GENERIC CLASSES
================== */
a.unstyle-link {
    color: inherit;
    text-decoration: none;
}

a.unstyle-link:hover, a.unstyle-link:focus {
    color: inherit;
    text-decoration: none;
}

.antialias {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
/* ================
END GENERIC CLASSES */



